@import "bootstrap";
@import "vpr";
@import "vpr-svg";
@import "compass/css3";
@import "ionicons";
@import "pikaday";
@import "site";

html {
    color: $black;
    body {
        padding: 0;
    }
}

a {
    color: $blue;
}

div.program {
    position: relative;
    h2 {
        margin-bottom: 0;
        font-size: 32px;
    }
    .program-time {
        margin: 0 0 15px;
        color: $gray;
        line-height: 1.2em;
        font-size: 18px;
        font-weight: 500;
        padding-left: 2px;
    }
    div.playlist {
        font-size: 18px;
        padding-left: 20px;
        margin-bottom: 40px;
        margin-left: 2px;
        border-left: 7px solid lighten($gray, 30%);
        div.song {
            margin: 10px 0;
            p {
                font-size: 18px;
                margin: 0;
                line-height: 1.3em;
            }
            .composer {
                font-weight: 600;
            }
            .start-time {
                color: $gray;
            }
            .purchase, .start-time {
                font-size: 15px;
                font-weight: 500;
            }

        }
    }
    i.icon {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 36px;
    }
    &:hover {
        i.icon {
            display: block;
        }
    }
}

#playlist-date {
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 42px;
}

#datepicker {
    display: inline-block;
    width: 200px;
    @include border-radius(3px);
    font-size: 14px;
    text-align: center;
    padding: 1px;
}

p.input-help-text {
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
}

