<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Vermont Public Radio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h1>VPR Classical</h1>

<h2>On Now</h2>

<h3 id="program-on-air"></h3>
<p id="program-time"><span id="program-start"></span> &mdash; <span id="program-end"></span></p>

<h4>Playing Now</h4>
<p id="track-playing"><span id="composer"></span> - <span id="track-name"></span> <span id="track-start-time"></span></p>

<h2>Up Next</h2>
<h3 id="program-up-next"></h3>
<p id="next-program-time"><span id="next-program-start"></span> &mdash; <span id="next-program-end"></span></p>



<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    var VPR = {};

    VPR.callComposer;

    VPR.getSong = function() {
        $.get('https://api.composer.nprstations.org/v1/widget/518028fee1c810b152ff9766/now?format=json', function (data) {

            VPR.data = data;

            VPR.programOnNow = {
                'name': VPR.data.onNow.program.name,
                'start': VPR.convertTime(VPR.data.onNow.start_time),
                'end': VPR.convertTime(VPR.data.onNow.end_time)
            };

            VPR.trackOnNow = {
                'name': VPR.data.onNow.song.trackName,
                'composer': VPR.data.onNow.song.composerName,
                'start': VPR.convertTime(VPR.data.onNow.song._start)
            };

            VPR.programUpNext = {
                'name': VPR.data.nextUp[0].program.name,
                'start': VPR.convertTime(VPR.data.nextUp[0].start_time),
                'end': VPR.convertTime(VPR.data.nextUp[0].end_time)
            };

            VPR.updateFields();

        });
    };

    VPR.convertTime = function(timestamp) {
        var hour = timestamp.split(':')[0],
            min = timestamp.split(':')[1],
            dd = "AM";

        if (parseInt(hour) >= 12) {
            hour -= "12";
            dd = "PM"
        }
        if (hour == 0) {
            hour = "12";
        }
        return hour + ":" + min + " " + dd;
    }

    VPR.updateFields = function() {
        document.getElementById('program-on-air').textContent = VPR.programOnNow.name;
        document.getElementById('program-start').textContent = VPR.programOnNow.start;
        document.getElementById('program-end').textContent = VPR.programOnNow.end;

        document.getElementById('composer').textContent = VPR.trackOnNow.composer;
        document.getElementById('track-name').textContent = VPR.trackOnNow.name;
        document.getElementById('track-start-time').textContent = "(" + VPR.trackOnNow.start + ")";

        document.getElementById('program-up-next').textContent = VPR.programUpNext.name;
        document.getElementById('next-program-start').textContent = VPR.programUpNext.start;
        document.getElementById('next-program-end').textContent = VPR.programUpNext.end;
    };


    VPR.getSong();

</script>
</body>
</html>
