{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="col-sm-7">
        <p class="input-help-text">Looking for something you heard recently?</p>
        <input type="text" id="datepicker" placeholder="Pick a date">
        <div id="calendar">
        </div>
    </div>
    <div class="col-sm-5">
        {% include "_underwriter.html" %}
        {% include "_marcomm.html" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/calendarScript.js') }}"></script>
{% endblock %}
