<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Vermont Public Radio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<input type="text" id="datepicker" placeholder="Pick A Date">
<div id="calendar">
</div>

<script src="{{ url_for('static', filename='js/calendarScript.js') }}"></script>

</body>
</html>
